**/*.svg
**/*.ico
**/*.png
**/*.env
**/*.sh
**/*.conf
**/*.log
**/*.snap
**/*.mdx
**/*.scss
**/*.txt
.idea
.gitignore
.dockerignore
.env
.env*
.eslintignore
.editorconfig
.prettierignore
yarn.lock
CHANGELOG.md
storybook-static
.storybook
tsconfig.webpack.json
tsconfig.json
webpack.config.js